<% include partials/header %>

<div class="card-body">
	<form method='POST' action='/contact'>
		<div class="input-group form-group">
			<div class="input-group-prepend">
				<span class="input-group-text"><span class="glyphicon glyphicon-envelope"></span></span>
			</div>
			<input type="email" name="email" class="form-control" placeholder="your email" required>
		</div>

		 <div class="input-group form-group">
			<label for="f-message" class="sr-only">Message</label>
			<textarea class="form-control" name="message" id="f-message" rows="5"
				placeholder="Your message to us..."></textarea>
		</div>
		<div class="row d-flex justify-content-around">
			<div class="form-group">
				<input type="submit" value="Send" class="btn btn_own_style">
			</div>
			<div class="form-group">
				<a class="btn btn_own_style" href='/'>Cancel</a>
			</div>
		</div>
	</form>
</div>

<% include partials/header %>