<% include partials/header %>

<div class="card-body">
	<form method='POST' action='/login'>
		<div class="input-group form-group">
			<div class="input-group-prepend">
				<span class="input-group-text"><span class="glyphicon glyphicon-user"></span></span>
			</div>
			<input type="text" name="username" class="form-control" placeholder="username" required>
		</div>
		<div class="input-group form-group">
			<div class="input-group-prepend">
				<span class="input-group-text"><span class="glyphicon glyphicon-pencil"></span></span>
			</div>
			<input type="password" name="password" class="form-control" placeholder="password" required>
		</div>
		<div class="row d-flex justify-content-center">
			<div class="form-group">
				<input type="submit" value="Login" class="btn btn_own_style">
			</div>
		</div>
	</form>
</div>

<div class="card-footer d-flex justify-content-around">
	<!-- TODO LINK TO /register -->
	<a class="btn btn_own_style" href='/register'>
		Register?</a>
	<a class="btn btn_own_style" href="/password">Password?</a>
</div>
<br>
<a class="" href='/contact'>Contact Us</a>
<br>



<% include partials/footer %>