<% include partials/header %>

<div class="card-body">
	<form method='POST' action='/password'>
		<div class="input-group form-group">
			<div class="input-group-prepend">
				<span class="input-group-text"><span class="glyphicon glyphicon-user"></span></span>
			</div>
			<input type="text" name="username" class="form-control" placeholder="username" required>
		</div>
		<div class="input-group form-group">
			<div class="input-group-prepend">
				<span class="input-group-text"><span class="glyphicon glyphicon-envelope"></span></span>
			</div>
			<input type="text" name="email" class="form-control" placeholder="email" required>
		</div>
		<div class="input-group form-group">
			<div class="input-group-prepend">
				<span class="input-group-text"><span class="glyphicon glyphicon-lock"></span></span>
			</div>
			<input type="text" name="token" class="form-control" placeholder="current verification token if available">
		</div>


		<div class="row d-flex justify-content-around">
			<div class="form-group">
				<input type="submit" value="Request" class="btn btn_own_style">
			</div>
			<div class="form-group">
				<a class="btn btn_own_style" href='/'>Cancel</a>
			</div>
		</div>
	</form>
</div>


<% include partials/footer %>