<% include partials/header %>

<div class="card-body">
	<form method='POST' action='/register'>
		<div class="input-group form-group">
			<div class="input-group-prepend">
				<span class="input-group-text"><span class="glyphicon glyphicon-envelope"></span></span>
			</div>
			<input type="email" name="email" class="form-control" placeholder="email" required>
		</div>
		<div class="input-group form-group">
			<div class="input-group-prepend">
				<span class="input-group-text"><span class="glyphicon glyphicon-user"></span></span>
			</div>
			<input type="text" name="username" class="form-control" placeholder="username" required>
		</div>

		<div class="input-group form-group">
			<div class="input-group-prepend">
				<span class="input-group-text"><span class="glyphicon glyphicon-pencil"></span></span>
			</div>
			<input type="password" name="password" class="form-control" placeholder="password" required>
		</div>
		<div class="row d-flex justify-content-around">
			<div class="form-group">
				<input type="submit" value="Register" class="btn btn_own_style">
			</div>
			<div class="form-group">
				<a class="btn btn_own_style" href='/'>Cancel</a>
			</div>
		</div>
	</form>
	<br>
	<a class="" href='/contact'>Contact Us</a>
</div>

<% include partials/footer %>