footer {
   margin-top: 1em;
   padding-top: 1em;
   background-color: #E7E7E7;
}

.h-card {
  width: 500px;
  margin-left: 0.3em;
}


.u-photo{
  float: left;
  margin: 0.2em;
  width: 68px;
}

#copyrightRow { 
  background-color: #3A3A3A; 
  padding: 0.75em 0 0.75em 0; 
  margin-top: 5px;
  color: white;
}

#logo {
  margin-right: -8em;
}
