body {
  background-color: #343a40;
  color:  rgba(255, 255, 255, 0.5);
}
footer {
   margin-top: 1em;
   padding-top: 1em;
   background-color: #C7C7C7;
}

.h-card {
  width: 500px;
  margin-left: 0.3em;
}


.u-photo{
  float: left;
  margin: 0.2em;
  width: 68px;
}

#copyrightRow { 
  background-color: #343a40; 
  padding: 0.75em 0 0.75em 0; 
  margin-top: 5px;
  color: white;
}

#logo {
  margin-right: -8em;
}

.form-control {
  background-color: rgb(44, 44, 43);
}

.dropdown-menu {
  margin: 0;
  padding: 0;
}
.dropdown-menu, .dropdown-item {
  color: rgba(255, 255, 255, 0.5);
  background-color: #343a40; 
}

.dropdown-item:hover {
  color: white;
  background-color: rgb(104, 104, 103);
  height: 100%;
}
.form-control:focus {
  color: black;
  background-color: rgb(104, 104, 103);
}

.btn{
  color: #6c757d;
  background-color:  rgb(44, 44, 43);
  width: 100px;
}

.btn:hover{
  color: black;
  background-color: rgb(104, 104, 103);
}

a.nav-link:hover {
  cursor: pointer;
}

#second_navbar {
  height: 4em;
}