/*stylesheet for table.html*/

form {
  display: inline-block;
}

fieldset {
  border: none;
}

span.edit {
  display: inline-block;
  background: url("../img/edit16.png") no-repeat;
  width: 14px;
  height: 14px;
  padding-right: 5px;
}
article{
  margin: 0 auto;
}
div#table {

  /* background-color: #141a20; */
  color: black;
  margin: 2em 0;
}

td {
  padding: 0.1em;
  font-style: italic;
}

th {
  padding: 0.2em;
}



thead {
    background-color:  black;
}
table {
  border-collapse: collapse;
  border: 2px solid black;
}
tr {
    border-top: solid 2px black;
    width: 100%;
}
/* 
tr:nth-child(even) {
  background-color: #242a30;
} */

tr:hover {
  color: white;
  background-color: rgb(104, 104, 103);
  height: 100%;
}
*/