<% include partials/header %>
<article>
    <div class="container">
        <h1>IMPLEMENTS functions for my account</h1>
        <p>From the web3js library it implements web3.personal</p>
        <p>As well implement GDPR option settings to choose from such as</p>
        <ul>
            <li>Private or not</li>
            <li>etc</li>
        </ul>
    </div>
</article>
<% include partials/footer %>