<% include partials/header %>
<article>
    <div class="container">
        <h1>IMPLEMENTS functions for my account</h1>
		<div class="row">
		<div class="col-md-12 pt-4 mt-0">

			<h3 id="settings">Account Settings</h3>
			<p>
				This part includes account related options concerning the web application.
			</p>
			<div class="col-12">
				<h4>
					Delete Account
				</h4>
				<form method='POST' action='/delete'>

						<div class="input-group form-group">
							<label class="sr-only" for="f-verification">Input verification token</label>
							<input type="text" id="f-verification" name="token" class="form-control" placeholder="verification token" required>
						</div>

						<div class="form-group">
							<label class="sr-only">I woul like to delete my account and all my data</label>
							<input type="submit" value="Delete" class="btn btn_own_style">
						</div>

				</form>
			</div>

		</div>
	</div>
	<hr>
        <p>From the web3js library it implements web3.personal</p>
        <p>As well implement GDPR option settings to choose from such as</p>
        <ul>
            <li>Private or not</li>
            <li>etc</li>
        </ul>
		
    </div>
</article>
<% include partials/footer %>