<% include partials/header %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-none d-lg-block sticky-top" id="second_navbar">
    <div class="container" id="mainNavigation">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#description">
                        <span class="glyphicon glyphicon-info-sign"></span> Description
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#how-it-works">
                        <span class="glyphicon glyphicon-cog"></span> How it works
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<article>
    <div class="container">
        <h2 class="sr-only">The Application</h2>
        <div class="col-md-12 pt-4 mt-0">

            <div class="row">
                <section>
                    <h3 id="description">Description</h3>
                    <p>
                        Mana is a web application that allows its users to manage, send and retrieve health
                        related data among participating users such as patients, insurance companies and healthcare
                        professionals. The ethereum network manages the authorization and location of the data in order
                        to manage and exchange data in the Mana ecosystem.
                    </p>
                    <p>
                        With the subsciption to the Mana ecosystem a private/public key is generated for the user and
                        encrypted with
                        the
                        user's password. In addition, an ID for the mana ecosystem associated with this user and the
                        respective
                        public and private key are generated. The private key for the ID is encrypted with user's
                        password.
                        The user name and password are stored as hash values in the database such that
                        external parties and system administrators cannot deduce the user nor password, with which the
                        data
                        has been encrypted.
                        Files are uploaded to the web application that is encrypted by the user's public key and stored
                        in the application's database. This files are private and in case of a data breach not readable.
                    </p>
                    <figure>
                        <img src="img/model_registration.png"
                            alt="Provides an overview over the registration process and the creation of the associated smart Contracts">
                        <figcaption>Provides an overview over the registration process and the creation of the
                            associated smart Contracts
                        </figcaption>
                    </figure>
                    <p>
                        The main navigation bar at the top allows the user to navigate among the following sections:
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-dark">
                                E-Record:<br>
                                Management of database accesses stored at other sites such as healthcare facilities,
                                insurance companies and other sites.
                            </li>
                            <li class="list-group-item list-group-item-dark">
                                Tools:<br>
                                Management of features provided by the ethereum network, the smart contracts and the
                                web application.
                            </li>
                            <li class="list-group-item list-group-item-dark">
                                Documentation:<br>
                                Technical specifications, instructions and further resources to better understand
                                the application and its features.
                            </li>
                            <li class="list-group-item list-group-item-dark">
                                My Account:<br>
                                Management of personal related information on this web application and the ethereum
                                network.
                            </li>
                            <li class="list-group-item list-group-item-dark">
                                Messages:<br>
                                Messaging service to send and receive messages to other members using Mana.
                            </li>
                            <li class="list-group-item list-group-item-dark">
                                Personal:
                                Management of data stored in the database of this application chosen by the user.
                            </li>
                            <li class="list-group-item list-group-item-dark">
                                Help:<br>
                                Link to the Contact Us form or FAQ section.
                            </li>
                            <li class="list-group-item list-group-item-dark">
                                Checkout:<br>
                                In order to securely log out from the web application.
                            </li>
                        </ul>
                    </p>
                    <p>
                        The web application Mana leverages the features of the ethereum network for the secure data
                        exchange
                        among registered users. This allows the management of the personal health records in one place
                        without
                        having to store and thus worry of any data security breaches.
                    </p>
                    <figure>
                        <img src="img/description.jpg" alt="Overview over the software architecture of Mana">
                        <figcaption>A picture with the system architecture of Mana such that it provides a good
                            overview.
                        </figcaption>
                    </figure>
                </section>
            </div>
            <div class="row">
                <section>
                    <h3 id="how-it-works">How it works</h3>
                    <p>For each user the web application needs to generate a unique identification token such that
                        healthcare service
                        providers, insurance companies and other users with whom the user wants to share and access data
                        can be identified.
                        This ensures that access is only given to the intended user. This is done by first register the
                        new user to the Mana
                        ecosystem.
                    </p>
                    <figure>
                        <img src="img/how_it_works.jpg" alt="Instructions on how to use the application named Mana">
                        <figcaption>Instructions and arrows show what step to perform and what happens in the
                            background.
                        </figcaption>
                    </figure>
                    <p>
                        The steps are:
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-dark">
                                Register to the Ethereum Network<br>
                                This generates a unique identifier linked to your user account such as an IBAN at
                                your bank. This allows you to remain anonymous in the ethereum network and allows
                                other participants to share the data to the intended user.
                            </li>
                            <li class="list-group-item list-group-item-dark">
                                Ask the participant for the access to your data<br>
                                Inform the provider or insurance company that you like to retrieve your data. For
                                this purpose they generate an url giving you access to your data, that is encrypted
                                using public key send to them. The url is encrypted using the public key from your
                                unique identification, such that the url is stored encrypted in the network.
                            </li>
                            <li class="list-group-item list-group-item-dark">
                                Accept, Deny or Remove Access:<br>
                                Now in the menu e-record, this access is displayed in the list of all your accesses,
                                where
                                you can choose to accept and thus authorize the provider the access to your own data
                                from
                                their local database. In addition, you can choose to deny the access such that the
                                provider
                                removes the link from their authorized access points or even share with other users in
                                the mana ecosystem.
                            </li>
                        </ul>
                    </p>
                </section>
            </div>
            <div class="row">

            </div>
        </div>
    </div>
</article>
<% include partials/footer %>