<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Welcome to Mana</title>
    <link rel="shortcut icon" href="/img/favicon.ico" sizes="32x32">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/bootstrap-4.3.1-dist/bootstrap.css">
    <link rel="stylesheet" media="screen" href="/css/auth.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"
        async></script>
</head>

<body>

    <div class="container">
        <% if(error && error.length > 0){ %>
        <div class="row overlay">
            <div class="alert alert-secondary">
                <%= error %>
            </div>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="row overlay">
            <div class="alert alert-success">
                <%= success %>
            </div>
        </div>
        <% } %>
    </div>
    <div class="d-flex justify-content-center" id="landing-header">
        <div class="card">
            <div class="card-header  d-flex justify-content-center">
                <img src="img/mana_logo.png" alt="Logo of the project Mana" id="logo">
            </div>
            <div class="card-body">
                <form method='POST' action='/register'>
					<div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="glyphicon glyphicon-envelope"></span></span>
                        </div>
                        <input type="email" name="email" class="form-control" placeholder="email" required>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="glyphicon glyphicon-user"></span></span>
                        </div>
                        <input type="text" name="username" class="form-control" placeholder="username" required>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="glyphicon glyphicon-pencil"></span></span>
                        </div>
                        <input type="password" name="password" class="form-control" placeholder="password" required>
                    </div>
                    <div class="row d-flex justify-content-around">
                        <div class="form-group">
                            <input type="submit" value="Register" class="btn btn_own_style">
                        </div>
                        <div class="form-group">
                            <a class="btn btn_own_style" href='/'>Cancel</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap-4.3.1-dist/bootstrap.js"></script>
</body>

</html>