<h1>IMPLEMENTS web3.eth Management API</h1>
<ul>
    <li>web3.eth: Ethereum blockchain related methods</li>
    <li>web3.net: Node's network status</li>
    <li>web3.db: Get/put for local LevelDB</li>
    <li>web3.personal: Account functions and sending</li>
    <li>web3.shh: P2P messaging using Whisped</li>
</ul>