<% include partials/header %>
<article>
    <div class="container">
        <h2 class="mt-4">Account Settings</h2>
		<div class="row">
			<div class="col-12 pt-4">
				<h4>Change Password</h4>
				<form method='POST' action='/account/password?_method=PUT' class="d-block">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><span class="glyphicon glyphicon-pencil"></span></span>
						</div>
						<input type="password" name="passwordCurrent" class="form-control" placeholder="current password" required>
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><span class="glyphicon glyphicon-pencil"></span></span>
						</div>
						<input type="password" name="passwordNew" class="form-control" placeholder="new password" required>
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><span class="glyphicon glyphicon-pencil"></span></span>
						</div>
						<input type="password" name="passwordConfirmation" class="form-control" placeholder="confirm password" required>
					</div>
					<div class="row d-flex justify-content-around">
						<div class="form-group">
							<input type="submit" value="Update" class="btn btn-info">
						</div>
					</div>
				</form>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12">

				<h4 >Privacy Options</h4>
			
			
				<form method='POST' action='/account/privacy?_method=PUT' class="d-block">
					<div class="input-group form-group">
						<div class="form-check  ml-1">
							<% if(privacy.notify){ %>
							<input type="checkbox" name="privacy[notify]" class="form-check-input" value="true" id="f-notify" checked>
							<% }else{ %> 
							<input type="checkbox" name="privacy[notify]" class="form-check-input" value="true" id="f-notify">
							<% } %>
							<label class="form-check-label" for="f-notify">Would you like to be informed by email for any events concerning your account?</label>
						</div>
					</div>
					<div class="input-group form-group">
						<div class="form-check ml-1">
							<% if(privacy.personalize){ %>
							<input type="checkbox" name="privacy[personalize]" class="form-check-input" value="true" id="f-personalize" checked>
							<% }else{ %>
							<input type="checkbox" name="privacy[personalize]" class="form-check-input" value="true" id="f-personalize">
							<% } %>
							<label class="form-check-label" for="f-personalize">Would you like to let Mana analyze your data to personalize your user experience?</label>
						</div>
					</div>
					<div class="input-group form-group">
						<div class="form-check ml-1">
							<% if(privacy.research){ %>
							<input type="checkbox" name="privacy[research]" class="form-check-input" value="true" id="f-research" checked>
							<% }else{ %>
							<input type="checkbox" name="privacy[research]" class="form-check-input" value="true" id="f-research">
							<% } %>
							<label class="form-check-label" for="f-research">Would you like to allow public research institutes to access your data?</label>
						</div>
					</div>
					<div class="input-group form-group">
						<div class="form-check ml-1">
							<% if(privacy.providers){ %>
							<input type="checkbox" name="privacy[providers]" class="form-check-input" value="true" id="f-providers" checked>
							<% }else{ %>
							<input type="checkbox" name="privacy[providers]" class="form-check-input" value="true" id="f-providers">
							<% } %>
							<label class="form-check-label" for="f-providers">Would you like to allow healthcare providers in general to access your data?</label>
						</div>
					</div>
					<div class="input-group form-group">
						<div class="form-check ml-1">
							<% if(privacy.insurance){ %>
							<input type="checkbox" name="privacy[insurance]" class="form-check-input" value="true" id="f-insurance" checked>
							<% }else{ %>
							<input type="checkbox" name="privacy[insurance]" class="form-check-input" value="true" id="f-insurance">
							<% } %>
							<label class="form-check-label" for="f-insurance">Would you like to allow your insurance company access to your data?</label>
						</div>
					</div>
					<div class="row d-flex justify-content-around">
						<div class="form-group">
							<input type="submit" value="Save" class="btn btn-info">
						</div>
					</div>
				</form>

			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-12 pt-4">
				<h4>Send Verification Token</h4>
				<form method='POST' action='/account/token' class="d-block">
					
					<div class="row d-flex justify-content-around">
						<div class="form-group">
							<input type="submit" value="Request" class="btn btn-info">
						</div>
					</div>
				</form>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-12">
				<h4>
					Request a copy of your data
				</h4>
				<form method='POST' action='/account/data' class="d-block">
						<div class="input-group form-group">
							<div class="form-check  ml-1">
								<input type="checkbox" name="summary" class="form-check-input" value="true" id="f-notification-request-summary">
								<label class="form-check-label" for="f-notification-request-summary">Only a summary of the data</label>
							</div>
						</div>


						<div class="input-group form-group">
							<label class="sr-only" for="f-verification-request">Input verification token</label>
							<div class="input-group-prepend">
								<span class="input-group-text"><span class="glyphicon glyphicon-lock"></span></span>
							</div>
							<input type="text" id="f-verification-request" name="token" class="form-control" placeholder="verification token" required>
						</div>
						<div class="row d-flex justify-content-around">
							<div class="form-group">
								<label class="sr-only">I woul like to get a copy of all my data</label>
								<input type="submit" value="Request" class="btn btn-info">
							</div>
					</div>

				</form>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12 pt-4 mt-0">
				<h4>Delete Account</h4>
				<form method='POST' action='/account/delete?_method=DELETE' class="d-block">
					<div class="input-group form-group">
						<label class="sr-only" for="f-verification-delete">Input verification token</label>
						<div class="input-group-prepend">
							<span class="input-group-text"><span class="glyphicon glyphicon-lock"></span></span>
						</div>
						<input type="text" id="f-verification-delete" name="token" class="form-control" placeholder="verification token" required>
					</div>

					<div class="row d-flex justify-content-around">
						<div class="form-group">

							<label class="sr-only">I woul like to delete my account and all my data</label>
							<input type="submit" value="Delete" class="btn btn-danger">
						</div>
					</div>
				</form>
			</div>
		</div>	
    </div>
</article>
<% include partials/footer %>