<% include partials/header %>
<article>
    <div class="container">
        <h2 class="mt-4">Account Settings</h2>
		<div class="row">
			<div class="col-12 pt-4">
				<h4>Change Password</h4>
				<form method='POST' action='/account?_method=PUT' class="d-block">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><span class="glyphicon glyphicon-pencil"></span></span>
						</div>
						<input type="password" name="passwordCurrent" class="form-control" placeholder="current password" required>
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><span class="glyphicon glyphicon-pencil"></span></span>
						</div>
						<input type="password" name="passwordNew" class="form-control" placeholder="new password" required>
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><span class="glyphicon glyphicon-pencil"></span></span>
						</div>
						<input type="password" name="passwordConfirmation" class="form-control" placeholder="confirm password" required>
					</div>
					<div class="row d-flex justify-content-around">
						<div class="form-group">
							<input type="submit" value="Update" class="btn btn_own_style">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 pt-4 mt-0">
				<h4>Delete Account</h4>
				<form method='POST' action='/delete' class="d-block">
					<div class="input-group form-group">
						<label class="sr-only" for="f-verification">Input verification token</label>
						<div class="input-group-prepend">
							<span class="input-group-text"><span class="glyphicon glyphicon-lock"></span></span>
						</div>
						<input type="text" id="f-verification" name="token" class="form-control" placeholder="verification token" required>
					</div>

					<div class="row d-flex justify-content-around">
						<div class="form-group">

							<label class="sr-only">I woul like to delete my account and all my data</label>
							<input type="submit" value="Delete" class="btn btn_own_style">
						</div>
					</div>
				</form>
			</div>
		</div>	
    </div>
</article>
<% include partials/footer %>