<% include partials/header %>
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-block" id="second_navbar">
    <div class="container" id="mainNavigation">
        <div id="message_interact" class="nav-link">
            <label for="f-interact" class="sr-only">Say Something</label>
            <input type="text" name="message" id="f-interact" placeholder="Your message">
            <button id="interact">Interact</button>
        </div>
    </div>
</nav> -->

<article>

    <div class="container">
        <div class="row">
     		<p>THIS PART IMPLEMENTS SOLUTION BASED ON HYPERLEDGER.</p>
			<% if(body && body.length > 0){ %>
				<table>
					<thead>
						<tr>
							<th>MANA ID</th>
							<th>ROLE</th>
						</tr>
					</thead>
					<tbody>
				<% body.forEach(user => { %>
						<tr>
							<td><%= user.manaId %></td>
							<td><%= user.role %></td>
						</tr>
				<% }) %>
					</tbody>
				</table>
			<% } %>
		</div>
    </div>

</article>
<script type="text/javascript" src="js/hyperledger.js"></script>

<% include partials/footer %>