<% include partials/header %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-none d-lg-block" id="second_navbar">
    <div class="container" id="mainNavigation">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#description">
                        <span class="glyphicon glyphicon-info-sign"></span> Description
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#how-it-works">
                        <span class="glyphicon glyphicon-cog"></span> How it works
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<article>
    <div class="container">
        <h2 class="sr-only">The Application</h2>
        <div class="col-md-12 pt-4 mt-0">

            <div class="row">
                <section>
                    <h3 id="description">Description</h3>
                	<p>
						Insert description
					</p>
                </section>
            </div>
            <div class="row">
                <section>
                    <h3 id="how-it-works">How it works</h3>
                   	<p>
						Insert how it works
					</p>
                </section>
            </div>
            <div class="row">

            </div>
        </div>
    </div>
</article>
<% include partials/footer %>