<% include partials/header %>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark d-none d-lg-block" id="second_navbar">
    <div class="container" id="mainNavigation">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
				<li class="nav-item">
                    <a class="nav-link" href="#personal">
                       Personal
                    </a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="#ethereum">
                       Ethereum Blockchain
                    </a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="#network">
                       Network Status
                    </a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="#db">
                       LevelDB
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
	<h2 >IMPLEMENTS web3.eth,.net,.db and .personal Management API</h2>
	
	
	

			
		<a id="personal"></a>
	<hr>
	<div class="row">
		<div class="col-md-12 pt-4 mt-0">

				<h3>Personal</h3>
				<p>
					This part includes personal related option for the web3.personal library.
				</p>
		<a id="ethereum"></a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12 pt-4 mt-0">

				<h3>Ethereum Blockchain</h3>
				<p>
					This part includes ethereum blockchain related methods from the web3.eth library.
				</p>
		<a id="network"></a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12 pt-4 mt-0">

				<h3>Network Status</h3>
				<p>
				This part includes the node's network status related methods from the web3.net library. As long as I do not run a local node, this option 						is unnecessary.
				</p>
		<a id="db"></a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12 pt-4 mt-0">

				<h3>LevelDB</h3>
				<p>
					This part includes local LevelDB related methods from the web3.db library. As Long as I do not run a local node, this option is 								unnecessary.
				</p>

		</div>
	</div>



</div>

<% include partials/footer %>