<% include partials/header %>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark d-none d-lg-block" id="second_navbar">
    <div class="container" id="mainNavigation">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
				<li class="nav-item">
                    <a class="nav-link" href="#something01">
                       SOMETHING01
                    </a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="#something02">
                       SOMETHING02
                    </a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="#something03">
                       SOMETHING03
                    </a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="#something04">
                       SOMETHING04
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
	<h2 >IMPLEMENTS HYPERLEDGER FABRIC SYSTEM SETTINGS FOR ADMIN</h2>
	
	
	

			
	<a id="something01"></a>
	<hr>
	<div class="row">
		<div class="col-md-12 pt-4 mt-0">

				<h3>SOMETHING01</h3>
				<p>
					Something to do.
				</p>
		<a id="something02"></a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12 pt-4 mt-0">

				<h3>SOMETHING02</h3>
				<p>
					Something to do.
				</p>
		<a id="something03"></a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12 pt-4 mt-0">

				<h3>SOMETHING03</h3>
				<p>
					Something to do.
				</p>
		<a id="something04"></a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12 pt-4 mt-0">

				<h3>SOMETHING04</h3>
				<p>
					Something to do.
				</p>

		</div>
	</div>



</div>

<% include partials/footer %>