<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Welcome to Mana</title>
    <link rel="shortcut icon" href="/img/favicon.ico" sizes="32x32">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/bootstrap-4.3.1-dist/bootstrap.css">
    <link rel="stylesheet" media="screen" href="/css/login.css">
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header d-flex justify-content-center">
                    <img src="img/mana_logo.png" alt="Logo of the project Mana" id="logo">
                </div>
                <div class="card-body">
                    <form method="post" action="/login">
                        <!--action="http://www.randyconnolly.com/tests/process.php"> -->
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="glyphicon glyphicon-user"></span></span>
                            </div>
                            <input type="text" name="user" class="form-control" placeholder="username">

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="glyphicon glyphicon-pencil"></span></span>
                            </div>
                            <input type="password" name="password" class="form-control" placeholder="password">
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="form-group">
                                <input type="submit" value="Login" class="btn login_btn">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <div>
                        <a href="#">Sign Up</a>
                    </div>
                    <div>
                        <a href="#">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>