<% include partials/header %>
<article>
    <div class="container">
        <h1>IMPLEMENTS web3.ssh API</h1>
        <p>This section uses web3.shh OR perhaps I will implement telehash
            as used in ADEPT by IBM and Samsung
        </p>
    </div>
</article>
<% include partials/footer %>