<% include partials/header %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-block" id="second_navbar">
    <div class="container" id="mainNavigation">

        <form class="nav-link" method="post" action="http://www.randyconnolly.com/tests/process.php">
            <fieldset>
                <div id="search">
                    <label for="f-search" class="sr-only"></label>
                    <input type="text" name="search" placeholder="Search titles" list="keywords">
                    <input type="submit" value="Search">
                    <datalist id="keywords">
                        <option>Ferris, John MD</option>
                        <option>Medicare</option>
                        <option>Lab Diagnostics Inc</option>
                        <option>bill</option>
                        <option>prescription</option>
                        <option>reimbursement</option>
                    </datalist>
                </div>
            </fieldset>
        </form>
    </div>
</nav>
</div>
</div>
</header>
<article>
    <div class="container">
        <h1>This section stores data not shared on the ethereum network and for personal purposes yet</h1>
        <div id="table">
            <table>
                <thead>
                    <th> </th>
                    <th scope="col">File</th>
                    <th scope="col">Type</th>
                    <th scope="col">Subject</th>
                    <th scope="col">From</th>
                    <th scope="col">Date</th>
                    <th></th>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                    <tr>
                        <td><input type="checkbox" name="index[0]" value="file33"></td>
                        <td>File33</td>
                        <td>Receipt 1</td>
                        <td><a href="#">Bill for consultation on 2019-03-02 10:15</a></td>
                        <td>Ferris, John MD</td>
                        <td><time>2019-03-11 13:21</time></td>
                        <td><button><a href="#"><span class="edit"></span>Edit</a></button></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="index[2]" value="file32"></td>
                        <td>File32</td>
                        <td>Laboratory</td>
                        <td><a href="#"> Lab results ordered by Ferris, John MD</a></td>
                        <td>Lab Diagnostics Inc</td>
                        <td>2019-03-03 17:56</td>
                        <td><button><a href="#"><span class="edit"></span>Edit</a></button></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="index[1]" value="file31"></td>
                        <td>File31</td>
                        <td>Health Record</td>
                        <td><a href="#">Electronic prescription</a></td>
                        <td>Ferris, John MD</td>
                        <td>2019-03-02 10:11</td>
                        <td><button><a href="#"><span class="edit"></span>Edit</a></button></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="index[3]" value="file30"></td>
                        <td>File30</td>
                        <td>Reimbursement</td>
                        <td><a href="#">Reimbursement of bill 02031230</a></td>
                        <td>Medicare</td>
                        <td>2019-02-26</td>
                        <td><button><a href="#"><span class="edit"></span>Edit</a></button></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="index[4]" value="file29"></td>
                        <td>File29</td>
                        <td>Recipt02</td>
                        <td><a href="#">Bill for consultation on 2018-11-15 11:00</a></td>
                        <td>Ferris, John MD</td>
                        <td>2018-11-30 19:22</td>
                        <td><button><a href="#"><span class="edit"></span>Edit</a></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</article>

<script type="text/javascript" src="js/faker.min.js"></script>
<script type="text/javascript" src="js/personal.js"></script>
<% include partials/footer %>