<footer>
    <div class="container">
        <!-- http://microformats.org/wiki/h-card -->
        <div class="row">
            <div class="col-md-4">
                <p class="h-card">
                    <img class="u-photo" src="/img/AGDB_logo_small.png" alt="Logo of AGDB" />
                    <a class="p-name u-url" href="http://www.mi.fu-berlin.de/en/inf/groups/ag-db">AGDB</a><br>
                    <a class="u-email" href="mailto:eckart@inf.fu-berlin.de">Contact Us</a><br>
                    <a class="p-tel" href="tel:+493083875100">Call Us</a><br>
                    <span class="p-locality">Berlin</span>,
                    <span class="p-country-name">Germany</span>
                </p>
            </div>

            <div class="col-md-4">
                <p class="h-card">
                    <img class="u-photo" src="/img/ohc_logo.png" alt="Logo of Openhealth.care" />
                    <a class="p-name u-url" href="http://openhealth.care">Openhealth.care</a><br>
                    <a class="u-email" href="mailto:antelo.lucas@outlook.com">Contact Us</a><br>
                    <a class="p-tel" href="tel:+4915784569198">Call Us</a><br>
                    <span class="p-locality">Zurich</span>,
                    <span class="p-country-name">Switzerland</span>
                </p>
            </div>


            <div class="col-md-4">
                <p class="h-card">
                    <img class="u-photo" src="/img/lucas_small.png" alt="Picture of Lucas Antelo" />
                    <a class="p-name u-url" href="http://openhealth.care/about_me">Lucas Antelo</a><br>
                    <a class="u-email" href="mailto:antelo.lucas@outlook.com">Contact Me</a><br>
                    <a class="p-tel" href="tel:+4915784569198">Call Me</a><br>
                    <span class="p-locality">Dorf</span>,
                    <span class="p-country-name">Switzerland</span>
                </p>
            </div>

    

        </div>
    </div>
    <div id="copyrightRow">
        <div class="container">
            <p class="text-left">
                All images are copyright to their owners. This is just a hypothetical site
                <span class="pull-right">&copy; 2019 Copyright Openhealth.care</span>
            </p>
        </div>
    </div>
</footer>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap-4.3.1-dist/bootstrap.js"></script>


</body>

</html>