<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>
        Mana
    </title>
    <link rel="shortcut icon" href="/img/favicon.ico" sizes="32x32">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/bootstrap-4.3.1-dist/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<span class="d-none d-lg-inline"><a href="/home"><img src="/img/mana_logo.png"
							alt="Logo of the project Mana" id="logo"></a></span>
			<div class="container">
				<% if(error && error.length > 0){ %>
				<div class="row overlay">
					<div class="alert alert-secondary">
						<%= error %>
					</div>
				</div>
				<% } %>
				<% if(success && success.length > 0){ %>
				<div class="row overlay">
					<div class="alert alert-success">
						<%= success %>
					</div>
				</div>
				<% } %>

				<div class="container" id="topHeader">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
						aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
						<ul class="navbar-nav ">
							<li class="nav-item"><a class="nav-link" href="/account">
								<span class="glyphicon glyphicon-user"></span>
									<%= currentUser.username %>
								</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="/e-record"><span
										class="glyphicon glyphicon-th-list"></span>
									E-Record</a></li>
							<li class="nav-item mr-auto"><a class="nav-link" href="/tools"><span
										class="glyphicon glyphicon-wrench"></span>
									Tools</a></li>
							
							<li class="nav-item"><a class="nav-link" href="/messages"><span
										class="glyphicon glyphicon-envelope"></span>
									Messages</a></li>
							<li class="nav-item"><a class="nav-link" href="/private"><span
										class="glyphicon glyphicon-folder-open"></span> Private</a></li>
							
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="glyphicon glyphicon-question-sign"></span> Help
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="/customer-service">
										<span class="glyphicon glyphicon-earphone"></span> Customer Service
									</a>
									<a class="dropdown-item" href="/faq">
										<span class="glyphicon glyphicon-info-sign"></span> FAQ
									</a>
									<a class="dropdown-item" href="/documentation">
										<span class="glyphicon glyphicon glyphicon-book"></span> Documentation
									</a>
								</div>
							</li>
							<li class="nav-item"><a class="nav-link" href="/logout"><span
										class="glyphicon glyphicon-log-out"></span>
									Logout</a></li>
						</ul>
					</div>
				 </div>
			</div>
        </nav>
    </header>