body {
  background-color: #000;
}

.container {
  position: relative;
}

.card {
  height: 50%;
  width: 50rem;
  margin: auto 5rem;
  background-color: rgba(0,0,0,0.5);
}

.alert {
  z-index: 2;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 15vh;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  /*Photo by José Duarte on Unsplash*/
  background-image: url('https://images.unsplash.com/photo-1471377375227-29eb574e942b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=1651&q=80') 
}
.slideshow li:nth-child(2) { 
  /*Photo by Jonas Lee on Unsplash*/
  background-image: url('https://images.unsplash.com/photo-1495985262958-d7b873c0f044?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80');
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  /*Photo by Dias (Vier Picture) on Unsplash*/
  background-image: url('https://images.unsplash.com/photo-1558419806-963fda54c8cd?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  /*Photo by Charles Forerunner on Unsplash*/
  background-image: url('https://images.unsplash.com/39/lIZrwvbeRuuzqOoWJUEn_Photoaday_CSD%20(1%20of%201)-5.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  /*Photo by Samuel Zeller on Unsplash*/
  background-image: url('https://images.unsplash.com/photo-1418225162054-0f773a996f9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1058&q=80');
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}

.input-group-prepend span, 
.btn_own_style, 
.form-control {
  background-color: rgb(44, 44, 43);
}

a:focus,
input:focus, 
.btn_own_style:hover, 
.form-control:focus {
  background-color: rgb(104, 104, 103);
  color: white;
}

a:focus,
input:focus,
.input-group-prepend span,
.btn_own_style:hover,
.form-control:focus {
  color: black;
}

.input-group-prepend span{
  width: 50px;
  border:0;
  background-color: rgb(44, 44, 43);
}
  
a:focus,
input:focus{
  box-shadow: 0 0 0 0 !important;
}

.btn_own_style{
  color: #6c757d;
  width: 100px;
}

/*
Such that flash messages do not mess with the grid
*/
.overlay {
  position: absolute;
  top: 0;
  left: 0; 
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  display: table;
  z-index: 10;
}

.overlay .alert {
  display: table-cell;
  text-align: center;
  z-index: 11;
}





