body {
    background-color: lightblue;
}

h1 {
    text-align: center;
}
.container {
    margin: 1em 0.25em;
}

input, button {
    height: 2em;
    width: 100%;
}

button {
    margin-top: 0.2em;
    background-color: blue;
    border: none;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    border: 1px solid black;
}

td {
    text-align: center;
}
.error {
    background-color: red;
    color: white;
}

.ready {
    background-color: green;
    color: white;
}

.waiting{
    content:url(../img/waiting.gif);
    width:5%;
    margin-left:2px
}

.row {
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid black;

}

.hide {
    display: none;
}

