body {
  background: url(../img/mana_logo_big.png)  no-repeat;
  background-position-x: 80%;
  background-position-y: 50px;

  background-color: rgba(31,31,31, 0.99);
}

img {
  width: 110px;
  height: 110px;
}

/* ---- container and log in form ---- */
/* https://bootsnipp.com/snippets/vl4R7 */

.container{
  height: 100%;
  align-content: center;
  margin-top: 10%;
}

.card{
  height: 400px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.2) !important;
}
.card-header h3{
  color: white;

}


.input-group-prepend span{
  width: 50px;
  background-color: rgb(44, 44, 43);
  color: black;
  border:0 !important;
}
  
input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
  
}

button {
  border: none;
}

.login_btn, button{
  color: #6c757d;
  background-color:  rgb(44, 44, 43);
  width: 100px;
}

.login_btn:hover, button:hover{
  color: black;
  background-color: rgb(104, 104, 103);
}

.form-control {
  background-color: rgb(44, 44, 43);
}
.form-control:focus {
  color: black;
  background-color: rgb(104, 104, 103);
}

a {
  color: darkblue;
  font-size: 18px;
}


.modal-content {
  color: #6c757d;
  background-color: rgba(22, 22, 22, 0.9);
}

.modal form {
  width: 100%;
}
